/data
# Ambientes virtuais (se tiver)
.venv/
venv/
ENV/

# Arquivos temporários do Python
__pycache__
*.pyc
*.pyo
*.pyd

# Variáveis de ambiente / Credenciais
.env

# Pastas de IDEs (opcional)
.vscode/
.idea/
__pycache__/

/dist
/build
WA_SYSTEM.spec
/logs
/navegadores_playwright